.App {
  text-align: center;
  height: 100%;
  background-image: linear-gradient(to right, #ca80f863, #f7d931af);
}

@media (prefers-reduced-motion: no-preference) {
}

@keyframes App-logo-spin {
  from {
  }
  to {
  }
}
