.input {
  background-color: #d0d0d0;
  border: 2px solid #d6d6d6;
  border-radius: 10px;
  padding: 14px;
  margin: 15px auto;
  transition: all 0.3s ease-in-out;
  &::placeholder {
    color: rgb(163, 162, 162);
    opacity: 1;
  }
  &:focus {
    transition: all 0.3s ease-in-out;
    border-color: rgb(65, 64, 64) !important;
  }
}

.inputError {
  border: 2px solid rgb(255, 10, 10);
}

.button {
  margin: 10px auto;
  width: 100%;
  background-color: #000000;
  border-radius: 10px;
  padding: 17px;
  color: white;
  &:hover {
    opacity: 0.8;
  }
}

.inputErrorMessage {
  color: rgb(255, 10, 10);
  font-size: small;
}
