@use "../../base/global";

.formContainer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;

  .form {
    background-color: white;
    padding: 5rem;
    border-radius: 20px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 3px 3px 4px 3px #545454;
  }
}

@media screen and (max-width: 600px) {
  .formContainer {
    .form {
      padding: 2rem;
    }
  }
}
